<div class="tops_index">
   <div class="about">
    </div>
 <section id="first-block">
   <div class="background">
      <a class="signUp" data-toggle="modal" data-target="#signUpModal"><span>Sign Up</span></a>
        Sign up
      </a>
    </div>
 </section>
 <section id="second-block">
   <div class="second-title">
     What is Friendo?
     </div>
   <div class="second-contents">
     <div class="box japan">
       <div class="title japan">
         Meet people in japan!
        </div>
       <div class="image-japan">
        </div>
       <div class="description-japan">
         This is an online space to meet people staying in Japan.
         If you want to see cool people or find language exchange partners, this is the place you're looking for!
         </div>
       </div>
     <div class="box international">
       <div class="title international">
         Make international friends!
         </div>
       <div class="image-international">
         </div>
       <div class="description-international">
         This website is for both Japanese and non-Japanese. You can talk to people from all over the world.
         </div>
      </div>
     <div class="box free">
       <div class="title free">
         For Free!
         </div>
       <div class="image-free">
           </div>
       <div class="description-free">
         You can use all the functions on this website for free.
         Nothing to lose by signing up!
         </div>
       </div>
     </div>
 </section>
 <section id="third-block">

 </section>
 <section id="fourth-block">
   <div class="fourth-title">
     Why Friendo?
     </div>
   <div class="for-japanese">
    <div class="title4 japanese">
      For Japanese
      </div>
    <div class="image-japanese">
      </div>
    <div class="description-japanese">
      Don't you want to maintain your English skills?
      Don't you want to make international friends in Japan?<br>
      You can maintain your English skills through meeting English speakers<br> staying in Japan!
      </div>
     </div>
   <div class="for-nonjapanese">
     <div class=" title4 non-japanese">
       For Non-Japanese
       </div>
       <div class="image-nonjapanese">
         </div>
       <div class="description-nonjapanese">
         Don't you want to make Japanese friends?<br>
         You can make Japanese friends even if you cannot speak Japanese!<br>
         Of course, you can learn Japanese from them as well.
         </div>
     </div>
 </section>
</div>
